@import "/scss/popup"; 
@import "/scss/filters";
@import "./variables";

* {
  margin: 0;
  border: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

#app {
  background: #263031;
}

.basemap {
  width: 100vw;
  height: 100vh;
}

.hide {
  display: none;
}

#pop-up-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 1;
}

#svg-element {
  position: absolute;
  z-index: 999;
  transform: translate(50%, 50%);
  width: 100%;
  height: 100%;
}

#content-container {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  left: 50%;
  #right-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    #player-container{
      position: fixed;
      display: grid;
      grid-template-rows: 0fr;
      top: 50%;
      left: 50%;
      z-index: 99;
      color: $beige;
      font-size: 24px;
      #title-sound-track {
        justify-self: center;
      }
      #waveform-container {
        display: grid;
        grid-template: 1fr/1fr;
        .waveform-canvas {
          grid-column-start: 1;
          grid-row-start: 1;
        }
      }
      #info-audio-container {
        display: flex;
        justify-content: space-between;
      }
    }
    
    #silouhette-container {
      display: none;
    }
  }
}

.cta-audio-action {
  font-size : 32px;
  color: #EAE2DD;
}