.filters-background {
    width: 100%;
    display: flex;
    background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    bottom: 0;
    z-index: 9999;
    .filters-container {
        display: flex;
        width: 90%;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        .filter-component {
            display: flex;
            font-size: 1.3vw;
            justify-content: space-between;
            align-items: center;
            padding: 3vh 3vw;
            .filter-checkbox {
                padding-right: 20px;
            }
        
            input {
                width: 20px;
                height: 20px;
                appearance: none;
                border: 2px solid $beige;
                border-radius: 2px;
                outline: none;
                transition-duration: 0.3s;
                background-color: $beige;
                cursor: pointer;
                display: flex;
                &:checked::before { 
                    font-family: "Font Awesome 5 Free";
                    content: '\f00c';
                    color: $black;
                    font-weight: 900;
                    text-align: center;
                    position: absolute;
                    left: 15%;
                    top: -4%;
                    font-size: 16px;
                }
                &:checked {
                    background: $beige;
                    border: 2px solid $beige;
                    position: relative;
                }
            }
            div {
                padding-left: 20px;
                width: 100%;
            }
        }
    }
}

.filter-in {
    transform: translateY(0) !important;
    transition: transform .75s ease-in;
}
.filter-out {
    transform: translateY(8vh) !important;
    transition: transform .75s ease-in;
}

.filter-init-pos {
    transform: translateY(8vh);       
}

.filter-button {
    position: absolute;
    z-index: 99;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
    padding-bottom: 6vw;
    cursor: pointer;
}

#close-filters {
    color: $beige;
    font-size: 6vw;
    padding-bottom: 8vw;
    z-index: 9999999;
}

@media only screen and (min-width : 1000px) {
    .filter-button {
        display: none;
    }
    #filters-mobile {
        display: none;
    }
}

@media only screen and (max-width : 1000px) {
    #filters-desktop {
        display: none;
    }
    #filters-mobile {
        display: flex;
    }
    .filters-background {
        height: 100%;
        align-items: center;
        background: linear-gradient(0deg, black 0, rgba(0, 0, 0, 0.6) 100%);
        .filters-container {
            width: 50%;
            justify-content: space-around;
            flex-direction: column;
            height: 56%;
            .filter-component {
                font-size: 3.2vw;
                width: 100%;
                align-self: center;
            }
        }
    }

    .filter-init-pos {
        transform: translateY(100vh);       
    }

    .filter-out {
        transform: translateY(100vh) !important;
        transition: transform .75s ease-in;
    }
}

@media only screen and (max-width : 1000px) and (orientation: landscape) {
    .filter-button {
        padding-bottom: 3vw;
    }

    #close-filters {
        top: 10vh;
        transform: translateX(40vw);
    }
}

@media only screen and (max-width : 612px) and (orientation: portrait){
    .filters-background {
        height: 100%;
        align-items: center;
        .filters-container {
            width: 75%;
            height: 56%;
            .filter-component {
                font-size: 4.2vw;
            }
        }
    }
    .filter-init-pos {
        transform: translateY(100vh);       
    }
}

@media only screen and (max-width : 750px) and (orientation: portrait){
    #close-filters {
        font-size: 8vw;
    }
}

@media only screen and (max-width : 750px) and (orientation: portrait){
    #close-filters {
        font-size: 10vw;
    }
}

@media only screen and (max-width : 750px) and (orientation: portrait){
    #close-filters {
        font-size: 12vw;
    }
}

@media only screen and (max-width : 415px) and (orientation: portrait){
    .filters-background {
        height: 100%;
        align-items: center;
        .filters-container {
            width: 80%;
            height: 56%;
            .filter-component {
                font-size: 4.8vw;
            }
        }
    }
    .filter-init-pos {
        transform: translateY(100vh);       
    }

}